<div class="wrapper">
  <input checked type=radio name="slider" id="slide1" />
  <input type=radio name="slider" id="slide2" />
  <input type=radio name="slider" id="slide3" />
  <input type=radio name="slider" id="slide4" />
  <input type=radio name="slider" id="slide5" />

  <div class="slider-wrapper">
    <div class=inner>
      <article>
        <div class="info top-left">
          </div>
        <img src="../../../assets/images/banner1.jpg" />
      </article>

      <article>
        <div class="info bottom-right">
          </div>
        <img src="../../../assets/images/banner2.jpg" />
      </article>

      <article>
        <div class="info bottom-left">
          </div>
        <img src="../../../assets/images/banner03.jpg" />
      </article>

      <article>
        <div class="info top-right">
          </div>
        <img src="../../../assets/images/banner4.jpg" />
      </article>

      <article>
        <div class="info bottom-left">
          </div>
        <img src="../../../assets/images/banner5.jpg" />
      </article>
    </div>
    <!-- .inner -->
  </div>
  <!-- .slider-wrapper -->

  <div class="slider-prev-next-control">
    <label for=slide1></label>
    <label for=slide2></label>
    <label for=slide3></label>
    <label for=slide4></label>
    <label for=slide5></label>
  </div>
  <!-- .slider-prev-next-control -->

  <div class="slider-dot-control">
    <label for=slide1></label>
    <label for=slide2></label>
    <label for=slide3></label>
    <label for=slide4></label>
    <label for=slide5></label>
  </div>
  <!-- .slider-dot-control -->
</div>





<div class="container-fluid pt-5">
  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary1 pr-3">Categories</span></h2>
  <div class="row px-xl-5 pb-3">
      <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
          <a class="text-decoration-none" href="client-login">
              <div class="cat-item d-flex align-items-center mb-4">
                  <div class="overflow-hidden" style="width: 100px; height: 100px;">
                      <img class="img-fluid" src="../../../assets/images/mobiles.jpg" alt="">
                  </div>
                  <div class="flex-fill pl-3">
                      <h4>Top Offers</h4>
                      <small class="text-body">100 Products</small>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
          <a class="text-decoration-none" href="client-login">
              <div class="cat-item img-zoom d-flex align-items-center mb-4">
                  <div class="overflow-hidden" style="width: 100px; height: 100px;">
                      <img class="img-fluid" src="../../../assets/images/mobiles.jpg" alt="">
                  </div>
                  <div class="flex-fill pl-3">
                      <h4>mobiles</h4>
                      <small class="text-body">100 Products</small>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
          <a class="text-decoration-none" href="client-login">
              <div class="cat-item img-zoom d-flex align-items-center mb-4">
                  <div class="overflow-hidden" style="width: 100px; height: 100px;">
                      <img class="img-fluid" src="../../../assets/images/laptop.jpg" alt="">
                  </div>
                  <div class="flex-fill pl-3">
                      <h4>laptop</h4>
                      <small class="text-body">100 Products</small>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
          <a class="text-decoration-none" href="client-login">
              <div class="cat-item img-zoom d-flex align-items-center mb-4">
                  <div class="overflow-hidden" style="width: 100px; height: 100px;">
                      <img class="img-fluid" src="../../../assets/images/tv.jpg" alt="">
                  </div>
                  <div class="flex-fill pl-3">
                      <h4>TV</h4>
                      <small class="text-body">100 Products</small>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
          <a class="text-decoration-none" href="client-login">
              <div class="cat-item img-zoom d-flex align-items-center mb-4">
                  <div class="overflow-hidden" style="width: 100px; height: 100px;">
                      <img class="img-fluid" src="../../../assets/images/cat-3.jpg" alt="">
                  </div>
                  <div class="flex-fill pl-3">
                      <h4>Fashion</h4>
                      <small class="text-body">100 Products</small>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
          <a class="text-decoration-none" href="client-login">
              <div class="cat-item img-zoom d-flex align-items-center mb-4">
                  <div class="overflow-hidden" style="width: 100px; height: 100px;">
                      <img class="img-fluid" src="../../../assets/images/cat-1.jpg" alt="">
                  </div>
                  <div class="flex-fill pl-3">
                      <h4>Beauty</h4>
                      <small class="text-body">100 Products</small>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
          <a class="text-decoration-none" href="client-login">
              <div class="cat-item img-zoom d-flex align-items-center mb-4">
                  <div class="overflow-hidden" style="width: 100px; height: 100px;">
                      <img class="img-fluid" src="../../../assets/images/sofa.jpg" alt="">
                  </div>
                  <div class="flex-fill pl-3">
                      <h4>Home & Furniture</h4>
                      <small class="text-body">100 Products</small>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
          <a class="text-decoration-none" href="client-login">
              <div class="cat-item img-zoom d-flex align-items-center mb-4">
                  <div class="overflow-hidden" style="width: 100px; height: 100px;">
                      <img class="img-fluid" src="../../../assets/images/gorcery.jpg" alt="">
                  </div>
                  <div class="flex-fill pl-3">
                      <h4>Grocery</h4>
                      <small class="text-body">100 Products</small>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
          <a class="text-decoration-none" href="client-login">
              <div class="cat-item img-zoom d-flex align-items-center mb-4">
                  <div class="overflow-hidden" style="width: 100px; height: 100px;">
                      <img class="img-fluid" src="../../../assets/images/AC.jpg" alt="">
                  </div>
                  <div class="flex-fill pl-3">
                      <h4>Air Conditioners</h4>
                      <small class="text-body">100 Products</small>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
          <a class="text-decoration-none" href="client-login">
              <div class="cat-item img-zoom d-flex align-items-center mb-4">
                  <div class="overflow-hidden" style="width: 100px; height: 100px;">
                      <img class="img-fluid" src="../../../assets/images/micro.jpg" alt="">
                  </div>
                  <div class="flex-fill pl-3">
                      <h4> Microwave Ovens</h4>
                      <small class="text-body">100 Products</small>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
          <a class="text-decoration-none" href="client-login">
              <div class="cat-item img-zoom d-flex align-items-center mb-4">
                  <div class="overflow-hidden" style="width: 100px; height: 100px;">
                      <img class="img-fluid" src="../../../assets/images/T Shirts.jpg" alt="">
                  </div>
                  <div class="flex-fill pl-3">
                      <h4>T Shirts</h4>
                      <small class="text-body">100 Products</small>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
          <a class="text-decoration-none" href="client-login">
              <div class="cat-item img-zoom d-flex align-items-center mb-4">
                  <div class="overflow-hidden" style="width: 100px; height: 100px;">
                      <img class="img-fluid" src="../../../assets/images/cat-3.jpg" alt="">
                  </div>
                  <div class="flex-fill pl-3">
                      <h4>Casual Shoes</h4>
                      <small class="text-body">100 Products</small>
                  </div>
              </div>
          </a>
      </div>
  </div>
</div>


