.mb-5 {
  margin-bottom: 3rem !important;
}
.lined {
  position: relative;
  padding-bottom: 0.7rem;
}
.text-uppercase {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  letter-spacing: 0.1em;
}
.g-4, .gy-4 {
  --bs-gutter-y: 1.5rem;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}
.text-center {
  text-align: center !important;
}
.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  flex-wrap: nowrap;
}
.avatar.avatar-xxl {
  width: 14rem;
  min-width: 14rem;
  height: 14rem;
  line-height: 14rem;
}
.avatar {
  display: inline-block;
  position: relative;
  width: 3rem;
  height: 3rem;
  text-align: center;
  border: #e7e7e7;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  line-height: 3rem;
  max-width: 100%;
}
.p-2 {
  padding: 0.5rem !important;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
img, svg {
  vertical-align: middle;
}
.mb-1 {
  margin-bottom: 0.25rem !important;
}
.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
.text-gray-600 {
  color: #949494;
}
small, .small {
  font-size: 0.8em;
}

.g-41, .gy-41 {
  width: 670px;
  --bs-gutter-y: 1.5rem;
}
