<div class="wide" id="all">
  <!-- ABOUT SECTION-->
  <section class="py-5">
    <div class="container py-4">
      <header class="mb-5">
        <h2 class="text-uppercase lined mb-4">About US </h2>
        <p class="lead">we are provides our service buy and sell product
          in our E-shopping Application , Our service in limited period is a fast
          growing in software field that keeps culture and creativity at the heart
          of everything we do ..</p>
      </header>

    </div>
  </section>
  <!-- END-->

  <!-- SHOWCASE SECTION-->

  <!-- OUR TEAM SECTION-->
  <section class="py-5">
    <div class="container py-4">
      <header class="mb-5">
        <h2 class="lined text-uppercase">Meet our team</h2>
      </header>
      <div class="row gy-41">
        <!-- Team member  -->
        <div class="col-lg-3 col-md-6 text-center"><a href="team-member.html"><img class="avatar avatar-xxl p-2 mb-4"
              src="../../../assets/images/person-1.jpg" alt="Han Solo"></a>
          <h3 class="h4 mb-1 text-uppercase"><a class="text-reset" href="team-member.html">loyo jeswin</a></h3>


        </div>
        <!-- Team member  -->
        <div class="col-lg-3 col-md-6 text-center"><a href="team-member.html"><img class="avatar avatar-xxl p-2 mb-4"
              src="../../../assets/images/person-1.jpg" alt="Luke Skywalker"></a>
          <h3 class="h4 mb-1 text-uppercase"><a class="text-reset" href="team-member.html">loyo jeswin</a></h3>


        </div>
        <!-- Team member  -->
        <div class="col-lg-3 col-md-6 text-center"><a href="team-member.html"><img class="avatar avatar-xxl p-2 mb-4"
              src="../../../assets/images/person-1.jpg" alt="Princess Leia"></a>
          <h3 class="h4 mb-1 text-uppercase"><a class="text-reset" href="team-member.html">loyo jeswin</a></h3>


        </div>
        <!-- Team member  -->
        <div class="col-lg-3 col-md-6 text-center"><a href="team-member.html"><img class="avatar avatar-xxl p-2 mb-4"
              src="../../../assets/images/person-1.jpg" alt="Jabba Hut"></a>
          <h3 class="h4 mb-1 text-uppercase"><a class="text-reset" href="team-member.html">loyo jeswin</a></h3>


        </div>
      </div>
    </div>
  </section>
  <!-- END-->
