.col-sm-10 {
  flex: 0 0 auto;
  padding-right: 30%;
  width: 83.33333333%;
}

.col-form-label {
  padding-top: calc(.375rem + 1px);
  padding-bottom: calc(.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  padding-left: 100px;
  line-height: 1.5;
}
