<div >
  No contacts available
</div>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->

  <div class="card">

    <nav class="navbar navbar-expand-sm navbar-dark bg-primarynew shadow mb-3">
      <div class="container">
        <h1>user contact-us Table</h1>
      </div>
    </nav>
    <!-- /.navbar -->



    <!-- /.card-header -->
    <div class="card-body">
      <div     ></div>
      <table id="example1" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Subject</th>
            <th>Message</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="project-actions text-right">
              <button class="btn btn-danger btn-sm">

                Delete
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Subject</th>
            <th>Message</th>
            <th>Edit</th>
          </tr>
        </tfoot>
      </table>
    </div>


    <div class="containerbuy">
      <H3 class="total">  </H3>
      <div class="mt-4  Buycart summa">
        <div>
          <button class="btn btn-primary btn-lg btn-flat">

            Buy Cart
          </button>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->

