.text-right{
  text-align: center !important;
}

.navbar-expand-sm .navbar-collapse {
  display: flex !important;
  flex-direction: row-reverse;
}


.bg-primarynew {
  --bs-bg-opacity: 1;
  background-color: #00000008;
}

.mt-4 {
  margin-top: -1.5rem!important;
}

.Buycart {
  text-align: right;
}

.containerbuy {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-bottom: 7px;
  flex-direction: row;
}
.total {
  padding-right : 150px;
}
